body{
    font-family: "Work Sans", sans-serif;
}
html {
  scroll-behavior:smooth;
}

.header{
  background-color: #092329ef;
  /* position: sticky;
  top: 0;
  z-index: 1000;  */
}
.contener{
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    position: static;
}

  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .logo {
    width: 80px;
  }
  .header .links {
    position: relative;
  }
  .header .links:hover .icon span:nth-child(2) {
    width: 100%;
  }
  .header .links .icon {
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .header .links .icon span {
    background-color: #AFB3B7;
    margin-bottom: 5px;
    height:3px;
    transition: 0.3s;
  }
  .header .links .icon span:first-child {
    width: 100%;
  }
  .header .links .icon span:nth-child(2) {
    width: 60%;
  }
  .header .links .icon span:last-child {
    width: 100%;
  }
  .header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #afb3b784;
    position: absolute;
    right: 0;
    min-width: 250px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    border-radius: 15px;
  }
  .header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #AFB3B7 transparent;
    position: absolute;
    right: 11px;
    top: -20px;
  }
  .header .links:hover ul {
    display: block;
  }
  .header .links ul li a {
    display: block;
    padding: 10px ;
    text-decoration: none;
    color: #0D1F23;
    transition: 0.3s;
  }
  .header .links ul li a:hover {
    padding-left: 25px;
  }
  .header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #001e56
  }
  .header1{
    font-size: 25px;
    color: #d2deeb;
  }
  a{
    margin: 10px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
  }
  a:hover{
    text-decoration:underline;
  }

  .intro{
    background-image:linear-gradient(#2d4a536d,#2d4a5358),url(white-coupe-sport-car-parking-bridge.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    height: 750px;
  }
  .intro .text{
    display: flex;
    flex-direction: column;
    color: #132E35;
    margin-top: -20PX;
    padding-left:30px ;
    font-size: 70px;
    text-shadow: 3px 3px 6px rgba(255, 255, 255, 0.628);
    animation: fadeIn 2s ease-in-out forwards;
  }
  @keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px); /* بداية النص أعلى قليلاً */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* نهاية الحركة تكون في مكانها الطبيعي */
    }}
    
  .go{
    display: flex;
    margin-left: -15px;
    font-size: 30px;
    margin-top: -15px;
  }
  button{
    background-color: #d2deeb00;
    color:#d2deeb;
    border: 2px solid #d2deeb ;
    padding: 10px;
    width: 400px;
    border-radius: 25px;
    transition: 0.4s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* ظِل خفيف */
  }
  button:hover{
    background-color:#0D1F23;
    border: 2px solid #0D1F23;
    color: #d2deeb;
    cursor:pointer;
    transition: 0.4s;
    transform: scale(1.04)
  }
  #icon1{
    display: none;
  }
  button:hover #icon1 {
    display: inline-block; /* أو block حسب الحاجة */
    margin-left: 10px;
  }
  .list-min {
    font-size: 30px;
    margin-top: -120px;
    color: #d2deeb;
  }  

#first-cards{
  font-size: 24px;
  padding-top: 3px;
  background-color: #0D1F23;
  text-align: center;
  padding-bottom: 5px;
  flex-wrap: nowrap;
  height: 750px;
}
.contener-cards{
  padding-top:50px ;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}
.contener-cards i{
  font-size: 40px;
}
.card1{
  background-color: #afb3b7;
  padding: 15px;
  padding-top: 20px;
  margin: 10px;
  color: #0D1F23;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 0 9px 8px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  width: calc(30.33% - 20px);
}
.card1:hover{
  transform: scale(1.06)
}
.spechial-h{
  margin-top:-50px;
  font-size: 200px;
  color:#2d4a5364;
  letter-spacing: 100px;
}
.image-cards{
  display: flex;
  flex-direction: row ;
  padding: 25px;
  margin-top: 0px;
  margin-bottom: 180px;
  text-align: center;
}
.image-cards img:hover{
  transform: scale(1.06)
}
.text-cards{
  margin-top: 50px;
  color:#afb3b7 ;
}
#models{
  background-color:white;
  margin-top:200px;
  text-align: center;
}
.spechial-h2{
  margin-top:-100px;
  font-size: 150px;
  color:#2d4a5314;
  letter-spacing: 100px;
}
.models-h{
  color: #0D1F23;
  font-size: 60px;
  margin-top: -210px;
}
.card-models{
  display: flex;
  flex-direction:row;
  justify-content: center;
  margin-top: 85px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
  margin-bottom: 320px;
}
.car1{
  background-color: rgba(0, 166, 255, 0.603);
  margin: 20px;
  width: 450px;
  height: 230px;
}
.car2{
  background-color: rgba(199, 194, 194, 0.644);
  margin: 20px;
  width: 450px;
  height: 230px;
}
.car3{
  background-color: rgba(197, 197, 54, 0.776);
  margin: 20px;
  width: 450px;
  height: 230px;
}
.bu-car1{
  margin-top: 50px;
}
.bu-1{
  border: 2px solid rgba(0, 166, 255, 0.788);
  margin-bottom: 10px;
  color:#001e56;
  background-color:rgba(0, 166, 255, 0.788);
}
.bu-1:hover{
  border: none ;
  background-color: white;
  color: #0D1F23;
  border: 2px solid #0D1F23;
}
.bu-car2{
  margin-top: 20px;
}
.bu-2{
  margin-bottom: 10px;
  color:#001e56;
  background-color:rgba(199, 194, 194, 0.644);
  border: 2px solid rgba(199, 194, 194, 0.644);
}
.bu-2:hover{
  color: #0D1F23;
  background-color: white;
  border: 2px solid #0D1F23 ;
}
.bu-car3{
  margin-top: 20px;
}
.bu-3{
  margin-bottom: 10px;
  background-color:rgba(197, 197, 54, 0.776);
  color: #001e56;
  border: 2px solid rgba(197, 197, 54, 0.776);
}
.bu-3:hover{
  background-color: white;
  color: #0D1F23;
  border: 2px solid #0D1F23 ;

}
#map{
  background-color: #2d4a53;
}
.spechial-h3{
  padding-top: 30px;
  font-size: 110px;
  color:#afb3b7;
  letter-spacing: 20px;
}
.mab-main {
  max-width: 100%;
  margin: auto;
  text-align: center;
  margin-top: -50px;
}
.mab-main iframe {
  width: 90%;
  height: 500px; 
  border: 10px solid #AFB3B7;
  border-radius: 25px;
  margin-bottom: 50px;
}
#about1{
  background-color: #AFB3B7;
  margin-top: -60px;
}
#about1 h1{
  color: #0D1F23;
  font-size: 80px;
  padding-top: 50px;
}
#about1 p{
  color: #2d4a53;
  font-size: 20px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -40px;
  padding-bottom: 25px;
}
.icon1{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: -20px;
  margin-bottom: 20px;
  transition: 0.4;
}
.end:hover{
  transform: scale(1.30)
}
.end22 a{
  color: #2d4a53;
  text-decoration: none;
}
.p-about{
  margin-top: -25px;
  background-color: #afb3b7;
  padding-bottom: 10px;
  text-align: center;
}
.p-about p{
  margin-top: 15px;
  color: #2d4a53;
  margin-left: 50px;
}



/* @media(max-width: 700px){
  .text h1{
      font-size: 20px;
  }
  .nav-links ul li{
      display: block;
  }
  .header1{
    font-size: 15px;
  }
  .list-min{
      position: fixed;
      background: #5A636A;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }
  .list-min{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
  }
  .go{
      padding: 30px;
  }
}
@media(max-width :700px){
  #models{
    flex-direction: column;
  }
  .card-models{
    flex-direction: column;
  }
  .bu-car1{
    margin-top:2px;
  }
  .car2{
    margin-top: 205px;
  }
  .car3{
    margin-top: 205px;
  }
} */

@media(max-width :700px){
  .header1 h1{
    font-size: 25px;
  }
  .contener{
    display: flex;
    justify-content:space-between;
    padding: 0px 10px;
    height: 50px;
  }
  .icon-nav {
display: none;
  }
  .header .links .icon{
    width: 40px;
  }
  .header .links ul{
    min-width: 150px;
    background-color:#afb3b7f6 ;
  }
  a{
    font-size: 15px;
    margin:5px 10px;
  }
}
@media(max-width :700px){
  .text h1{
    font-size: 50px;
    margin-top: 120px;
  }
  .list-min{
    margin-top: -20px;
    margin-left: -30px;
    font-size: 20px;
    text-align: center;
  }
  .go button {
    width: 300px;
    margin-left: 50px;
    background-color: #1d3339;
    border:none;
    margin-top: 20px;
    font-size: 20px;
  }
  .intro{
    background-image:linear-gradient(#2d4a53a8,#2d4a5358),url(elegant-uber-driver-giving-taxi-ride.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    height: 750px;
  }
}
@media(max-width :700px){
  #first-cards .spechial-h{
    display: none;
  }
  .contener-cards {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
  }
  .card1{
    width: 300px;
    margin-left: 0;
  }
  #first-cards{
    height: 1600px;
    }
    .h-card{
      display: none;
    }
}

@media(max-width :700px){
  #models .models-h{
    font-size: 50px;
    margin-top: -150px;
  }
  .spechial-h2{
    display: none;
  }
  .card-models{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0px 20px;
    margin-top: -30px;
    height: 1100px;
  }
  .car1{
    width:300px;
    margin-left: -5px;
  }
  .car1 img{
   margin-left: -30px;
   width: 350px;
  }
  .bu-car1{
    margin-top: -20px;
  }
  .bu-1{
    width: 300px;
  }
  .car2{
    width: 300px;
    margin-top: 120px;
    margin-left: -5px;
  }
  .car2 img{
    margin-left: -30px;
    width: 350px;
    margin-left: -25px;
  }
  .bu-car2{
    margin-top: -40px;
  }
  .bu-2{
    width: 300px;
  }
.car3{
  margin-top: 130px;
  width: 300px;
  margin-left: -5px;
  }
  .car3 img{
    margin-left: -30px;
    width: 350px;
    margin-left: -25px;
  }
  .bu-car3{
    margin-top: -50px;
  }
  .bu-3{
    width: 300px;
  }
}
@media(max-width :700px){
  .spechial-h3{
    font-size: 50px;
    letter-spacing: normal;
  }
  .mab-main {
    margin-top: 20px;
  }
}
@media(max-width :700px){
  #about1 h1{
    font-size: 40px;
  }
  #about1 p{
    font-size: 15px;
    margin-top: 15px;
  }
  .end22 a{
    font-size: 10px;
  }
  .p-about{
    margin-left: -50px;
  }
}
